<mat-toolbar color="secondary" class="navbar">
  <div>
    <mat-icon class="home-icon" (click)="onClickDashboard()">place</mat-icon>
   <span class="logo" (click)="onClickDashboard()">CasaConnect</span>
  </div>

  <div>
     <button *ngIf="user$ | async as user; else guest" mat-button style="cursor: pointer; color: white; size: 100px;" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ (user$ | async)?.name || 'Guest' }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
    <ng-template #guest>
      <button mat-button style="cursor: pointer; color: white;" (click)="openLogin()">Login</button>
      <button mat-raised-button color="accent" (click)="openRegister()">Register</button>
    </ng-template>
  </div>
</mat-toolbar>

