<mat-toolbar color="secondary" class="navbar">
  <div>
   <span class="logo" (click)="onClickDashboard()">CasaConnect</span>
  </div>

  <div>
    <ng-container *ngIf="user$ | async as user; else guest">
      <button mat-button style="cursor: pointer; color: white;" routerLink="/profile">{{ user.name }}</button>
      <button mat-icon-button style="cursor: pointer; color: white;" matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
    <ng-template #guest>
      <button mat-button style="cursor: pointer; color: white;" (click)="openLogin()">Login</button>
      <button mat-raised-button color="accent" (click)="openRegister()">Register</button>
    </ng-template>
  </div>
</mat-toolbar>

