<mat-card class="property-card">
  @if ((user$ | async)?.role === 'admin' || (user$ | async)?.role === 'owner') {
    <div class ="action-buttons">
      <button  mat-icon-button matTooltip="Edit" class="action-btn" (click)="editProperty()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete" class="action-btn" (click)="deleteProperty()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
 }
  <mat-card-header>
    <mat-card-title>{{ property.title }}</mat-card-title>
    <mat-card-subtitle>
      <div class="location">
       <mat-icon>location_on</mat-icon> {{ property.city }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>

    <img mat-card-image class="image-container"
       [src]="property.imageUrl && property.imageUrl.length > 0 ? property.imageUrl[0] : 'assets/images/mumbai-apartment-mumbai-flat-Space-Dynamix.jpg'" 
       alt="{{ property.title }}" />

  <mat-card-content>
    <div class="property-info">
      <div class="info-item">
        <mat-icon>bed</mat-icon> {{ property.bedrooms }} Beds
      </div>
      <div class="info-item">
        <mat-icon>bathtub</mat-icon> {{ property.bathrooms }} Baths
      </div>
      <div class="info-item price">
        <mat-icon>currency_rupee</mat-icon> {{ property.price | number }}
      </div>
    </div>

    <div class="availability" [ngClass]="{ available: property.available, notAvailable: !property.available }">
      <mat-icon>{{ property.available ? 'check_circle' : 'cancel' }}</mat-icon>
      {{ property.available ? 'Available' : 'Not Available' }}
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button *ngIf="(user$ | async)?.role === 'admin' || (user$ | async)?.role === 'owner'" mat-raised-button color="primary" style="cursor: pointer; width: 100%;" (click)="viewDetails()">
      <mat-icon>info</mat-icon> View Details
    </button>
  </mat-card-actions>
</mat-card>


